<!DOCTYPE html>
<html>
  <head>
    <!-- SITE TITTLE -->
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <div class = "main-wrapper">
      <%= render 'layouts/header' %>
      <%= render 'layouts/navbar' %>
      <%= yield %>
      <%= render 'layouts/copyright' %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
